$window-min-width: 1100px;
$pc-width: 900px;
$device: 768px;
$print-width: 100%;
// font


// colors  
$font-color-heavy: #222;
$font-color-base: #333;
$font-color-secondary: #666;
$font-color-light: #aaa;

$white: #fff;
$black: #000;
$grey: #aaa;
$light-grey: #ddd;


// border
$print-dashed: 1px dashed #aaa;