@use '@/style/base.scss';
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.75rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 2rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.leading-none {
  line-height: 0;
}

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-color-light {
  color: base.$font-color-light;
}

.text-color-secondary {
  color: base.$font-color-secondary;
}

.text-color-base {
  color: base.$font-color-base;
}

.text-color-heavy {
  color: base.$font-color-heavy;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;  
}