.whitespace-pre-line {
  white-space: pre-line;
}

.list-inside {
  list-style-position: inside;
}

.list-circle {
  list-style-type: circle;
}

.list-disc {
  list-style-type: disc;
}

.list-disclosure-closed {
  list-style-type: disclosure-closed;
}

.relative {
  position: relative;
}